.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    height: 30px; 
    width: auto;
    display: block;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0px; 
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-menu a:hover {
    background-color: rgb(4, 99, 4);
}