* { font-family: Arial, Helvetica, sans-serif; }

/* Menu Styling */
body { margin: 0; }
nav { 
    background-color: rgb(0,175,0);
    overflow: hidden; }
nav a { 
    float: left;
    display: block;
    padding: 14px 16px;
    color: black;
    text-decoration: none;
    font-weight: bold; }
nav a:hover { background-color: green; }

/* Main Sections Styling */
section { margin: 10px; }
.required { color: red }

/* Footer Styling */
footer { margin: 10px; }
