/*
author: Le Minh Hieu & Nguyen Hoang Duy (Duo Levellers)
purpose: Provide CSS styling to all 4 html files
*/

/* General Styling */
* { font-family: Arial, Helvetica, sans-serif }
body { background-color: rgb(241, 238, 244); margin: 0 }

/* Logo, banner & contact info */
.column img { float: left; display: block; }
#mail {
  position: absolute;
  top: 4px;
  right: 20px;
  font-size: 18px }
#mirror { transform: scaleX(-1) }

/* Nav Bar Styling */
nav { 
  clear: both;
  background-color: rgb(22, 141, 22);
  overflow: hidden }
nav a { 
  float: left;
  display: block;
  padding: 14px 16px;
  color: black;
  text-decoration: none;
  font-weight: bold }
nav a:hover { background-color: rgb(107, 176, 107) }

/* Main Section Styling */
main {
  margin: 50px;
  text-align: justify;
  background-image: url(images/GrandTech_logo_bg.png), url(images/GrandTech_logo_bg0.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: color }
.clear { clear: right }
.margintop { margin-top: 100px }

/* Lists Styling */
#memberlist li { font-weight: bold }
#memberlist ul li { font-weight: normal }
dt { font-weight: bold }

/* Table Styling */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center }
.tablecol { width: 120px }

/* Illustration Pic Styling */
.illupic {
  float: right;
  text-align: center;
  margin: 50px }
.illupic figcaption { margin-top: 10px }

/* Job Desc */
.required { color: red }

/* Group Details */
#grphoto { border: 1px solid gray }

/* Footer Styling */
footer { margin: 10px }
#footlink {
  float: right;
  text-align: right }
